body {
	font: 15px/1.5 'Montserrat', Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #ECECEC;
}

body,
html {
	height: 100%;
}

ul {
	margin: 0;
	padding: 0;
}

i {
	vertical-align: inherit;
}

section:not(#sidebar) {
	margin-left: auto;
	width: calc((100% - 15%) - 20px);
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.container{
	overflow: hidden;
}

/* #sidebar */

#sidebar {
	height: 100%;
	width: 15%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #f6f6f6;
	padding: 20px 20px 0px 0px;
	-webkit-animation: slideout 0.75s;
	/* Chrome, Safari, Opera */
	animation: slideout 0.75s;
}


/* Chrome, Safari, Opera */

@-webkit-keyframes slideout {
	from {
		left: -15%;
	}
	to {
		left: 0;
	}
}


/* Standard syntax */

@keyframes slideout {
	from {
		left: -15%;
	}
	to {
		left: 0;
	}
}

#sidebar li {
	list-style: none;
}

#sidebar a {
	padding: 10px 2px;
	margin-top: 6px;
	text-decoration: none;
	font-size: 13px;
	color: #3D3F40;
	display: block;
}

#sidebar .social-media-dark i {
	font-size: 18px;
}

#sidebar #branding {
	margin: auto;
	text-align: center;
	color: #3D3F40;
	margin-bottom: 40px;
}

#sidebar #branding h1 {
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

#sidebar nav {
	text-align: center;
	margin-top: 10px;
}

.social-media-dark li {
	display: inline-block;
}

.social-media-dark a {
	margin-right: 1px;
	color: #F2F2F2;
}


/* Showcase */

#showcase {
	height: 100%;
	background-image: url('../images/wallpaper.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #ffffff;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-animation: bgtrans 1s;
	/* Chrome, Safari, Opera */
	animation: bgtrans 1s;
}


/* Chrome, Safari, Opera */

@-webkit-keyframes bgtrans {
	from {
		opacity: 0;
		filter: alpha(opacity=0);
	}
	to {
		opacity: 1;
		filter: alpha(opacity=1);
	}
}


/* Standard syntax */

@keyframes bgtrans {
	from {
		opacity: 0;
		filter: alpha(opacity=0);
	}
	to {
		opacity: 1;
		filter: alpha(opacity=1);
	}
}

#showcase .resume:hover {
	display: none;
}

#showcase p {
	position: relative;
	color: #181818;
	left: 7%;
	top: 20px;
	margin-bottom: 30px;
}

#showcase br {
	display: block;
	content: "";
	margin-top: -15px;
}

#showcase .hello {
	font-size: 20px;
}

#showcase .name {
	font-size: 75px;
	top: 10%
}

#showcase .desc {
	font-size: 50px;
}


/*Blinking Curosr (Adapted From W3C https://codepen.io/ArtemGordinsky/pen/GnLBq)*/

.blinking-cursor {
	position: absolute;
	font-weight: 100;
	font-size: 45px;
	color: #2E3D48;
	-webkit-animation: 1s blink step-end infinite;
	-moz-animation: 1s blink step-end infinite;
	-ms-animation: 1s blink step-end infinite;
	-o-animation: 1s blink step-end infinite;
	animation: 1s blink step-end infinite;
}

@keyframes blink {
	from,
	to {
		color: transparent;
	}
	50% {
		color: black;
	}
}

@-moz-keyframes blink {
	from,
	to {
		color: transparent;
	}
	50% {
		color: black;
	}
}

@-webkit-keyframes "blink" {
	from,
	to {
		color: transparent;
	}
	50% {
		color: black;
	}
}

@-ms-keyframes "blink" {
	from,
	to {
		color: transparent;
	}
	50% {
		color: black;
	}
}

@-o-keyframes "blink" {
	from,
	to {
		color: transparent;
	}
	50% {
		color: black;
	}
}


/* Button */

.btn-resume {
	position: relative;
	top: 46%;
	left: 7%;
	border-radius: 8px;
	background-color: #9e8875;
	border: none;
	text-align: center;
	font-size: 28px;
	padding: 20px;
	width: 255px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}

.btn-resume span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
	text-decoration: none;
	color: #FFFFFF;
	font-family: 'Montserrat', Helvetica, sans-serif;
}

.btn-resume span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	filter: alpha(opacity=0);
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.btn-resume:hover span {
	padding-right: 20px;
}

.btn-resume:hover span:after {
	opacity: 1;
	filter: alpha(opacity=1);
	right: 0;
}


/* Headers */

.title {
	color: #9e8875;
	font-size: 24px;
	font-family: 'Montserrat', sans-serif;
}

.line {
	display: block;
	position: relative;
	background-color: #9e8875;
	width: 35px;
	height: 4px;
	top: 5px;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.title:hover>.line {
	width: 75px;
}

#resume .title {
	margin-top: 100px;
	font-size: 24px;
	text-align: left;
}

#portfolio .title {
	text-align: left;
}


/* About Me */

#about .container {
	margin: auto;
	margin-top: 30px;
	/* inline-block hack */
	font-size: 0;
	text-align: center;
	max-width: 1350px;
}

#about-me,
#side-details {
	/* inline-block hack */
	display: inline-block;
	font-size: medium;
	text-align: left;
}

#about-me {
	margin-left: 30px;
	max-width: 50%;
}

#about-me p {
	font-size: 18px;
}

#side-details {
	text-align: center;
	vertical-align: top;
	margin-top: 20px;
	border-radius: 20%;
}

#side-details img {
	border-radius: 20%;
}


/*Resume Timeline*/

#resume {
	margin-left: 20%;
	overflow-x: hidden;
}


/* The actual timeline (the vertical ruler) */

#resume .timeline {
	position: relative;
	max-width: 1040px;
	margin: 0 auto;
	margin-top: -350px;
	height:auto;
}


/* The actual timeline (the vertical ruler) */

#resume .timeline::after {
	content: '';
	position: absolute;
	width: 3px;
	background-color: white;
	top: 420px;
	bottom: -550px;
	left: 50%;
	margin-left: -3px;
}


/* Container around content */

#resume .container {
	margin: auto;
	margin-top: 30px;
	/* inline-block hack */
	font-size: 0;
	text-align: center;
	max-width: 900px;
	height: 1750px;
}

#resume .box {
	padding: 0px 20px;
	position: relative;
	background-color: inherit;
	width: 40%;
	height: 300px;
}

#resume .box::after {
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: white;
	border-radius: 50%;
	z-index: 1;
	top: 405px;
}


/* Place the container to the left */

#resume .left {
	left: -64%;
}

#resume .left::after {
	left: 253.7%;
}


/* Place the container to the right */

#resume .right {
	left: 55%;
}

#resume .right::after {
	left: -14.15%;
}


/* The actual content */

#resume .content {
	position: relative;
}

#resume .left .text-box {
	position: relative;
	width: 500px;
	height: 400px;
	left: 130%;
	top: 400px;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: right;
	z-index: 1;
}

#resume .right .text-box {
	position: relative;
	width: 500px;
	height: 400px;
	top: 400px;
	right: 10%;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: left;
	z-index: 1;
}

#resume p {
	font-size: 24px;
	color: #3D3F40;
}

#resume a {
	padding: 0px 20px;
	background-color: inherit;
	position: relative;
	font-size: 20px;
	color: #3D3F40;
	text-decoration: none;
	top: 620px;
	left: -10px;
}

#resume a .line {
	position: relative;
	left: 45.5%;
	background-color: #3D3F40;
	top: -1px;
}

#resume a:hover>.line {
	width: 75px;
}

#resume h2 {
	font-size: 18px;
	color: #87837E;
}


/* Portfolio */

#portfolio {
	padding-top: 10px;
	padding-bottom: 35px;
}

#portfolio .container {
	margin: auto;
	margin-top: 30px;
	/* inline-block hack */
	font-size: 0;
	text-align: center;
	max-width: 900px;
}

#portfolio .box img {
	opacity: 1;
	filter: alpha(opacity=1);
	display: block;
	transition: .5s ease;
	backface-visibility: hidden;
}

#portfolio .box .middle {
	transition: .5s ease;
	opacity: 0;
	filter: alpha(opacity=0);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

#portfolio .box:hover img {
	opacity: 0.3;
	filter: alpha(opacity=0.3);
}

#portfolio .box:hover .middle {
	opacity: 1;
	filter: alpha(opacity=1);
}

#portfolio .text {
	color: black;
	font-size: 16px;
	padding: 16px 32px;
}


/*Contact*/

#contact {
	margin-left: 15%;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #F2F2F2;
}

#contact .description {
	margin-left: 15%;
}

#contact .info p {
	font-size: 16px;
}

input[type=text],
select,
textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
}

input[type=submit]:hover {
	background-color: #45a049;
}

#contact .form,
.info {
	display: inline-block;
	vertical-align: top;
}

#contact .form {
	width: 50%;
}

#contact .info {
	margin-left: 2.5%;
	margin-right: 2.5%;
	width: 40%;
	margin-top: -15px;
}

#contact .container {
	background-color: #353637;
	padding-bottom: 10px;
	padding: 50px;
	margin: auto;
	width: 80%;
	max-width: 1040px;
}

#contact textarea {
	font-family: 'Source Sans Pro', Helvetica, sans-serif;
	font-size: 13px;
}

#contact label {
	margin-top: 3px;
}

#contact a {
	font-size: 25px;
}

#contact ul {
	margin-top: 10px;
	text-align: center;
}


/* Footer */

footer {
	bottom: 0px;
	width: 85%;
	color: #F5F5F5;
	height: auto;
	padding: 5px 0px;
	background-color: #353637;
	margin-left: 16%;
}

footer .copyright {
	padding: 0 30px 0 20px;
	display: flex;
	justify-content: space-between;
}

footer .copyright a {
	text-decoration: none;
	color: #F5F5F5;
	text-align: right;
}


/* Small Screens Compatibility*/

@media(max-width: 1120px) {
	
	#about-me {
		display: block;
		margin: 0 auto;
		max-width: 80%;
	}
	#resume .container{
		height: 2250px;
	}
	
	#resume .timeline::after {
		left: 60px;
	}
	#resume .box {
		padding-left: 70px;
		padding-right: 25px;
		left: 42px;
		margin: 180px 0px;
	}
	#resume .right .text-box {
		right: 35px;
	}
	#resume .left .text-box {
		left: -35px;
		text-align: left;
	}
	#resume a {
		position: absolute;
		top: 2250px;
		left: 45px;
	}
	#resume a .line {
		left: 0px;
	}
	#resume .box::after {
		left: 7.25px;
	}
	#resume .title {
		position: relative;
		left: 70px;
		top: 180px;
		margin-top: 50px;
	}
	/* Make all right containers behave like the left ones */
	.right {
		left: 0%;
	}
	#portfolio .container {
		max-width: 300px;
		margin-left: 10%;
	}

}


@media(max-width: 864px) {

	section:not(#sidebar) {
		margin-left: 0;
		max-width: 100%;
		width: 100%;
	}

	#sidebar{
		display: none;
	}
	#contact .container {
		padding: 20px;
	}
	#contact .form{
		margin-top: 2%;
		margin-left: 10%;
		width:80%;
		margin-right:10%;
	}
	#contact .info {
		margin-left: 10%;
		width: 80%;
		
	}
	#contact .info p {
		font-size: 13px;
	}
	#showcase .desc {
		opacity: 0;
		filter: alpha(opacity=0);
	}
	#showcase p {
		left: 7%;
	}
	#showcase button {
		position: absolute;
		top: 60%;
	}
	footer {
		width: 100%;
		margin-left: 0%;
	}
	#resume {
		left: 20%;
	}
	#resume .box {
		left: 32px;
		width: 70%;
	}
	#resume .timeline::after {
		left: 51px;
	}
	#resume .right .text-box {
		width: 110%;
	}
	#resume .left .text-box {
		width: 110%;
	}
	footer .copyright a {
		display:none;
	}
}